/.metadata/
*.properties
SYJ_Mall/target/m2e-wtp/web-resources/META-INF/maven/com.test/SYJ_Mall/pom.properties
SYJ_Mall/target/m2e-wtp/web-resources/META-INF/maven/com.test/SYJ_Mall/pom.properties
SYJ_Mall/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
