.login-wrap {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 로그인 */
.wrap-form {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
  max-width: 480px;
  min-height: 545px;

  padding: 110px 30px;
  font-size: 16px;
  box-sizing: border-box;
}

/* 로고 */
.kakao-logo {
  display: inline-block;
  width: 88px;
  height: 27px;
  line-height: 1;
  vertical-align: top;
  background: url(../images/main_login/ico_account-e8750da61bf611ac86a0dd8350c4fd35e3e71cca4885218a9052a286df0222f8.png);
}

/* 로그인 타이틀 */
.login-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title h2 {
  font-weight: normal;
  color: #252525;
  font-size: 28px;
  margin-bottom: 20px;
}

.login-title p {
  color: #7c7c7c;
  font-size: 13px;
  line-height: 19px;
}

.login-title p .icon-scan {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/main_login/ico_account-e8750da61bf611ac86a0dd8350c4fd35e3e71cca4885218a9052a286df0222f8.png);
  background-position: -100px -200px;
  vertical-align: top;
}

/* QR 박스 */

.qr-box {
  width: 206px;
  height: 220px;
  margin: 20px auto 40px;
  padding: 24px 24px 0 24px;
  border: 4px solid #ffde01;
  box-sizing: border-box;
}

.qr-box .qr-code {
  width: 150px;
  height: 150px;
  background-color: #e5e5e5;
  background-image: url(../images/main_qr_login/0cfab2fd922e17120b3c2e24b1e81e148c66f5d28a9823ba68e834aecff79731b404e28255427bb4a0f14a92fdcba1892fda6c7a9c80d5e5a1c1c57d4c471d37ed5e9eb18610f07521ba04c25065c19b41f09efab14c8e38c2d84fda0c.png);
  background-size: contain;
}

.qr-box .desc {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qr-box .desc .title {
  font-size: 12px;
  line-height: 20px;
  vertical-align: top;
  color: #7c7c7c;
  font-weight: normal;
}

.qr-box .desc .title .time {
  font-weight: bold;
  padding-left: 3px;
  color: #e65f3e;
  letter-spacing: 0.5px;
  vertical-align: top;
}

.qr-box .ico-reset {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/main_login/ico_account-e8750da61bf611ac86a0dd8350c4fd35e3e71cca4885218a9052a286df0222f8.png);
  background-position: -120px -200px;
  vertical-align: top;
}

/* 로그인 상태 유지 체크 */
.set-login {
  margin-top: 25px;
}

.set-login input[type="checkbox"] {
  display: none;
}

.set-login input[type="checkbox"] + label {
  display: flex;
  align-items: center;
}

.set-login input[type="checkbox"] + label .ico-text {
  cursor: pointer;
  font-size: 14px;
  color: #252525;
}

.set-login input[type="checkbox"] + label .ico-check {
  cursor: pointer;
  display: inline-block;
  flex: 1 1 auto;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  margin-right: 8px;
  background-image: url(../images/main_login/ico_account-e8750da61bf611ac86a0dd8350c4fd35e3e71cca4885218a9052a286df0222f8.png);
  background-position: -30px -30px;
}

.set-login input[type="checkbox"]:checked + label .ico-check {
  background-position: 0 -30px;
}

/* 확인 버튼 */
.wrap-form .login-btn-box {
  margin-top: 30px;
}

.wrap-form .login-btn-box .qr-login-btn {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  color: #191919;
  background-color: #f6f6f6;
  cursor: pointer;
}

.wrap-form .login-btn-box .qr-login-btn:hover {
  background-color: #e7e7e7;
}

/* 하단 카카오 계정 직접 입력 */
.info-another {
  margin-top: 22px;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
  cursor: pointer;
}

/* 전체 하단 */
.foot-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 40px 0;
}

.foot-wrap .service-info ul li {
  float: left;
  padding: 0 5px;
  font-size: 11px;
  color: #4c4c4c;
  line-height: 20px;
  cursor: pointer;
}

.foot-wrap .service-info ul li .ico-arr {
  display: inline-block;
  width: 9px;
  height: 6px;
  margin: 7px 0 0 4px;
  background: url(../images/main_login/ico_account-e8750da61bf611ac86a0dd8350c4fd35e3e71cca4885218a9052a286df0222f8.png);
  background-size: 300px auto;
  background-position: 0 -60px;
}

.foot-wrap .txt-copyright {
  font-size: 11px;
  color: #7c7c7c;
  margin-top: 8px;
  line-height: 18px;
}

@media (min-width: 640px) {
  /* PC */

  .login-wrap {
    width: 100%;
    width: 480px;
    padding: 50px 70px 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .wrap-form {
    border: 1px solid #e5e5e5;
    padding: 60px 30px;
  }

  .kakao-logo {
    margin: 0 0 30px 0;
  }

  .foot-wrap .service-info ul li {
    padding: 0 10px;
    font-size: 12px;
  }
}
