.login-wrap {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/* 왼쪽 배너 */
.wrap-banner {
  display: none;
}

/* 오른쪽 로그인 */
.wrap-form {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
  max-width: 480px;
  padding: 60px 30px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}

/* 로고 */
.wrap-form .kakao-logo {
  margin: 0 0 30px 0;
  display: inline-block;
  width: 88px;
  height: 27px;
  line-height: 1;
  vertical-align: top;
  background: url(../images/main_login/ico_account-e8750da61bf611ac86a0dd8350c4fd35e3e71cca4885218a9052a286df0222f8.png);
}

.wrap-form .login-input-box input::placeholder {
  color: #8e8e8e;
}

/* 로그인 입력 부분 */

.wrap-form .login-input-box .email {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #ebebeb;
}

.wrap-form .login-input-box .password {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #ebebeb;
}

/* 로그인 상태 유지 체크 */
.set-login {
  margin-top: 25px;
}

.set-login input[type="checkbox"] {
  display: none;
}

.set-login input[type="checkbox"] + label {
  display: flex;
  align-items: center;
}

.set-login input[type="checkbox"] + label .ico-text {
  cursor: pointer;
  font-size: 14px;
  color: #252525;
}

.set-login input[type="checkbox"] + label .ico-check {
  cursor: pointer;
  display: inline-block;
  flex: 1 1 auto;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  margin-right: 8px;
  background-image: url(../images/main_login/ico_account-e8750da61bf611ac86a0dd8350c4fd35e3e71cca4885218a9052a286df0222f8.png);
  background-position: -30px -30px;
}

.set-login input[type="checkbox"]:checked + label .ico-check {
  background-position: 0 -30px;
}

/* 로그인 버튼 */
.wrap-form .login-btn-box {
  margin-top: 30px;
}

.wrap-form .login-btn-box .login-btn {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  color: #191919;
  background-color: #fee500;
  cursor: pointer;
}

.wrap-form .login-btn-box .qr-login-btn {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  color: #191919;
  background-color: #f6f6f6;
  cursor: pointer;
}

.wrap-form .login-btn-box .qr-login-btn:hover {
  background-color: #e7e7e7;
}

.wrap-form .login-btn-box .qr-login-btn .qr-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  vertical-align: middle;
  background: url(../images/main_login/ico_account-e8750da61bf611ac86a0dd8350c4fd35e3e71cca4885218a9052a286df0222f8.png);
  background-position: -80px -200px;
}

.wrap-form .login-btn-box .line {
  display: block;
  width: 100%;
  padding: 15px 0;
}

.wrap-form .login-btn-box .line span {
  width: 40px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.wrap-form .login-btn-box .line span::before {
  content: "";
  display: inline-block;
  width: calc(50% - 20px);
  height: 1px;
  margin: 8px 0;
  margin-right: 8px;
  background-color: #ebebeb;
  vertical-align: middle;
}

.wrap-form .login-btn-box .line span::after {
  content: "";
  display: inline-block;
  width: calc(50% - 20px);
  height: 1px;
  margin: 8px 0;
  margin-left: 8px;
  background-color: #ebebeb;
  vertical-align: middle;
}

/* 로봇  */
.re-captcha {
  width: 100%;
  height: 100px;
  border: 1px solid rgb(194, 194, 194);
  background-color: #ececec;
  margin-top: 20px;
}

/* 하단 회원 가입 및 계정 찾기 */
.info-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 12px;
}

.info-user div {
  cursor: pointer;
}

.info-user ul li {
  float: left;
  cursor: pointer;
}

.info-user ul li:last-child:before {
  content: "";
  float: left;
  width: 1px;
  height: 10px;
  margin: 4px 10px;
  background-color: #e5e5e5;
}

/* 전체 하단 */
.foot-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 10px 0;
  border-top: 1px solid #e5e5e5;
}

.foot-wrap .service-info ul li {
  float: left;
  padding: 0 5px;
  font-size: 11px;
  color: #4c4c4c;
  line-height: 20px;
  cursor: pointer;
}

.foot-wrap .service-info ul li .ico-arr {
  display: inline-block;
  width: 9px;
  height: 6px;
  margin: 7px 0 0 4px;
  background: url(../images/main_login/ico_account-e8750da61bf611ac86a0dd8350c4fd35e3e71cca4885218a9052a286df0222f8.png);
  background-size: 300px auto;
  background-position: 0 -60px;
}

.foot-wrap .txt-copyright {
  font-size: 11px;
  color: #7c7c7c;
  margin-top: 8px;
  line-height: 18px;
}

@media (min-width: 640px) {
  /* PC */

  #main-login-wrap {
    padding: 50px 0;
  }

  .login-wrap {
    width: 100%;
    width: 1020px;
    padding: 60px 70px 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  /* 왼쪽 배너 */
  .wrap-banner {
    display: inline-block !important;
    position: relative;
    width: 540px;
    margin: 37px 40px 0 0;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
  }

  .wrap-banner .info_banner {
    position: relative;
    z-index: 10;
    padding: 16px 9px 20px;
  }

  .wrap-banner .title-banner {
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    color: #252525;
  }
  .wrap-banner .desc-banner {
    margin-top: 5px;
    font-size: 13px;
    line-height: 18px;
  }

  .wrap-banner .img-banner {
    width: 540px;
  }

  .wrap-form {
    padding: 50px 60px;
  }

  .foot-wrap .service-info ul li {
    padding: 0 10px;
    font-size: 12px;
  }
}
