/* 주문번호 */
.order-number-box-wrap {
  text-align: center;
  padding: 50px 0px;
  border-bottom: 1px solid rgb(227, 229, 232);
}

.order-number-box-wrap .order-number {
  margin: 10px 0px 20px;
  font-size: 16px;
  font-weight: bold;
}

.order-number-box-wrap ul {
  font-size: 13px;
  color: rgb(157, 157, 161);
}

.order-number-box-wrap ul li {
  display: inline-block;
}

.order-number-box-wrap ul li.active {
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.order-number-box-wrap ul li:not(:last-child)::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 17px;
  margin: 0px 7px;
  background: url(../images/mypage_orderlist_detail/ico_step.png) 0% 0% / 14px
    no-repeat;
}

.order-number-box-wrap button.cancel {
  padding: 7px 0px;
  margin-top: 18px;
  border-radius: 4px;
  font-size: 13px;
  width: 112px;
  height: 35px;
  border: 1px solid rgb(240, 242, 245);
  color: rgb(102, 102, 102);
}

/* 주문제품 */
.order-item-box-wrap {
  padding: 0px 20px 25px;
  border-bottom: 1px solid rgb(227, 229, 232);
}

.order-item-box-wrap .title {
  font-size: 22px;
  letter-spacing: -0.2px;
  color: rgb(0, 0, 0);
  padding-top: 26px;
  padding-bottom: 11px;
}

.order-item-box-wrap ul li {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
}

.order-item-box-wrap ul li button.service {
  height: 35px;
  line-height: 34px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: normal;
  color: rgb(102, 102, 102);
  border: 1px solid rgb(227, 229, 232);
  text-align: center;
  margin-top: 15px;
}

.order-item-box-wrap ul li .order-info {
  display: flex;
}

.order-item-box-wrap ul li .wrap-thumb {
  overflow: hidden;
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 6px;
}

.order-item-box-wrap ul li .wrap-thumb::before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  content: "";
}

.order-item-box-wrap ul li .wrap-thumb img {
  width: 100%;
  height: 100%;
}

.order-item-box-wrap ul li .info-orderlist {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  padding: 6px 0 6px 16px;
  box-sizing: border-box;
  height: 100%;
  height: 100px;
}

.order-item-box-wrap ul li .info-orderlist .info-title {
  font-size: 16px;
  padding-bottom: 5px;
}

.order-item-box-wrap ul li .info-orderlist .unit-price {
  font-size: 16px;
}

.order-item-box-wrap ul li .info-orderlist .state {
  font-size: 14px;
  color: rgb(0, 135, 255);
}

/* 결제정보 */
.purchase-box-wrap {
  padding: 0px 20px 25px;
  border-bottom: 1px solid rgb(227, 229, 232);
}

.purchase-box-wrap .title {
  font-size: 22px;
  letter-spacing: -0.2px;
  color: rgb(0, 0, 0);
  padding-top: 26px;
  padding-bottom: 11px;
}

/* 배송지 정보 */
.address-box-wrap {
  padding: 0px 20px 25px;
}

.address-box-wrap .title {
  font-size: 22px;
  letter-spacing: -0.2px;
  color: rgb(0, 0, 0);
  padding-top: 26px;
  padding-bottom: 11px;
}

.address-box-wrap .order-customer {
  border-bottom: 1px solid rgb(227, 229, 232);
}

.address-box-wrap .info-box .customer {
  padding-top: 15px;
  margin-bottom: 10px;
  font-size: 16px;
}

.address-box-wrap .info-box .customer-info {
  margin-bottom: 25px;
  font-size: 16px;
}

/* 포인트 및 쿠폰 관련 유의사항 */
.notice-box-wrap {
  padding: 0px 20px 25px;
}

.notice-box {
  padding: 20px;
  margin-bottom: 30px;
  background: rgb(247, 247, 247);
}

.notice-box .title {
  font-size: 16px;
  padding-bottom: 5px;
}

.notice-box ul li {
  position: relative;
  color: rgb(154, 154, 158);
  font-size: 14px;
  line-height: 1.43;
  padding-left: 7px;
  margin-top: 6px;
  margin-bottom: 11px;
}

.notice-box ul li::before {
  display: inline-block;
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 8px;
  left: 0px;
  background-color: rgb(154, 154, 158);
  border-radius: 50%;
}
