/* 검색결과 없을 시 */

.search-list-nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px;
}

.standing-ryan {
  width: 184px;
  height: 184px;
  background: url(../images/product_search_result/img_empty_ryan.png) center
    no-repeat;
  background-size: contain;
}

.empty-message {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
  letter-spacing: -0.25px;
  color: #000000;
}

.empty-sub-message {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: rgb(154, 154, 158);
  text-align: center;
}

.product-search-result {
  border-top: 1px solid rgb(227, 229, 232);
}

.search-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-banner .search-text {
  font-size: 24px;
  line-height: 30px;
  padding: 20px 30px;
}

hr.division {
  height: 10px;
  width: 100%;
  border: none;
  border-top: 1px solid rgb(227, 229, 232);
  background-color: rgb(247, 247, 247);
  margin: 0 !important;
}

.search-header {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.search-header .sort-wrap {
  display: flex;
  align-items: center;
}

.search-header .sort {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.search-header .sort-divider {
  width: 1px;
  height: 20px;
  background-color: rgb(227, 229, 232);
}

.search-header .sort .sort-title {
  font-size: 16px;
  color: rgb(17, 17, 17);
  margin-right: 2px;
  padding: 0px 20px;
}

.search-header .sort .sort-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.search-header .detail {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 30px;
}

.search-header .detail .all-count {
  font-size: 16px;
}

.search-header .detail .check-global {
  display: flex;
  font-size: 16px;
}

.search-header .detail .check-global img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

/* 해당 검색 상품 영역 */
.search-product-wrap {
  padding: 0px 20px;
}

.search-product-wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-product-wrap .item-li {
  max-width: 160px;
  min-height: 280px;
  max-height: 280px;
}

.search-product-wrap .item-li .thumbnail {
  position: relative;
  width: 160px;
  height: 160px;
  background-image: url(./../images/product_category/20210819161132067_8809814920946_8809814920946_AW_00.jpg);
  background-size: contain;
  margin-right: 20px;
  margin-bottom: 12px;
}

.search-product-wrap .item-li .thumbnail::after {
  position: absolute;
  inset: 0px;
  background: rgba(0, 0, 0, 0.02);
  content: "";
  width: 100%;
  z-index: 0;
  padding-top: 100%;
}

.search-product-wrap .item-li .thumbnail .soldout-label {
  width: 61px;
  height: 22px;
  position: absolute;
  top: 12px;
  left: 12px;
  background-image: url(./../images/product_category/tag-soldout.png);
  background-size: contain;
}

.search-product-wrap .item-li .name {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  margin: 15px 0 5px;
}

.search-product-wrap .item-li .name .nametext {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-product-wrap .item-li .name .cart {
  flex-shrink: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./../images/product_category/Small_30_off.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.search-product-wrap .item-li .price {
  font-size: 16px;
  font-weight: bold;
}

/* 모달 작업 */
/* 모달창 배경 검정색 레이어드 화면 */
.overlay-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* 캐릭터 모달창 */
.character-modal-wrap {
  position: absolute;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 25px 12px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;

}

.character-modal-wrap .character-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 5px;
}

.character-modal-wrap .character-list .character-image {
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.character-modal-wrap .character-list .character-text {
  font-size: 12px;
  margin-top: 8px;
}

.character-modal-wrap .character-list.all .character-image {
  background-image: url(../images/product_search_result/category_group_on.png);
}

.character-modal-wrap .character-list.ryan .character-image {
  background-image: url(../images/product_search_result/Ryan_71_color_210303.png);
}

.character-modal-wrap .character-list.apeach .character-image {
  background-image: url(../images/product_search_result/Apeach_71_color_210303.png);
}

.character-modal-wrap .character-list.muzi .character-image {
  background-image: url(../images/product_search_result/Muzi_71_color_210303.png);
}

.character-modal-wrap .character-list.frodo .character-image {
  background-image: url(../images/product_search_result/Frodo_71_color_210303.png);
}

.character-modal-wrap .character-list.neo .character-image {
  background-image: url(../images/product_search_result/Neo_71_color_210303.png);
}

.character-modal-wrap .character-list.tube .character-image {
  background-image: url(../images/product_search_result/Tube_71_color_210303.png);
}

.character-modal-wrap .character-list.jay .character-image {
  background-image: url(../images/product_search_result/Jay-Z_71_color_210303.png);
}

.character-modal-wrap .character-list.con .character-image {
  background-image: url(../images/product_search_result/Con_71_color_210303.png);
}

.character-modal-wrap .character-list.choonsic .character-image {
  background-image: url(../images/product_search_result/Choonsic_71_color_210303.png);
}

.character-modal-wrap .character-list.jordy .character-image {
  background-image: url(../images/product_search_result/Jordy_71_color_210303.png);
}

.character-modal-wrap .character-list.scappy .character-image {
  background-image: url(../images/product_search_result/Scappy_71_color_210303.png);
}

.character-modal-wrap .character-list.angmond .character-image {
  background-image: url(../images/product_search_result/Angmond_71_color_210303.png);
}

.character-modal-wrap .character-list.pendaJr .character-image {
  background-image: url(../images/product_search_result/PendaJr_71_color_210303.png);
}

.character-modal-wrap .character-list.kereberony .character-image {
  background-image: url(../images/product_search_result/Kereberony_71_color_210303.png);
}

.character-modal-wrap .character-list.kumdori .character-image {
  background-image: url(../images/product_search_result/Kumdori_71_color_210303.png);
}

/* 정렬 모달창 */
.sort-modal-wrap {
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  bottom: 0;
  width: 400px;
}

.sort-modal-wrap .sort-list {
  max-width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 17px;
}

.sort-modal-wrap .sort-list:hover {
  background-color: rgb(247, 247, 247);
}

.sort-modal-wrap .sort-list:hover .sort-text {
  color: rgb(0, 0, 0);
}

.sort-modal-wrap .sort-list .sort-text {
  font-size: 16px;
  color: rgb(154, 154, 158);
}

.sort-modal-wrap .sort-list img {
  width: 20px;
  height: 22px;
  margin-bottom: 2px;
}
