.product-detail-wrap {
  height: 100000px;
}

/* 대표 이미지 */
.main-image {
  height: 640px;
  width: 640px;
  background-image: url(./../images/product-detail/20210622174901912_8809721509937_8809721509937_AW_00.jpg);
  background-size: cover;
}

/* 컨텐츠 헤더 */
.detail-header {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  margin: 25px 20px 0px;
}

.product-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: bold;
}

.product-name {
  font-size: 30px;
  /* max-width: 250px; */
}

.share {
  width: 40px;
  height: 40px;
  background-image: url(./../images/product-detail/btn_share.png);
  background-size: cover;
}

.product-pric {
  font-size: 14px;
}

.product-review {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 10px;
}
.review-star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(./../images/product-detail/star_on.png);
  background-size: cover;
  margin-right: 3px;
}

.review-star.off {
  background-image: url(./../images/product-detail/star_off.png);
}

.review-count {
  margin-left: 6px;
}

/* 컨텐츠 */
.detail-content {
}

.detaul-content-title {
  font-size: 24px;
  font-weight: bold;
  margin: 50px 20px 30px;
}

.detaul-content-text {
  font-weight: 400;
  margin: 50px 20px 30px;
}

.detaul-content-image {
  width: 100%;
}

/* 상품 아래 하단 버튼 */
.detail-etc {
  display: flex;
  flex-direction: column;
}

.detail-etc button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 640px;
  height: 80px;
  padding: 0px 20px;
  border-top: 1px solid rgb(227, 229, 232);
}

.detail-etc button div {
  font-size: 18px;
  font-weight: bold;
}

.detail-etc button .sub-title {
  font-size: 15px;
  font-weight: 400;
  margin-left: 15px;
  color: rgb(154, 154, 158);
}

.detail-etc button .drop-down-icon {
  width: 18px;
  height: 18px;
  background-image: url(./../images/main/down-arrow.png);
  background-size: cover;
}

.detail-etc button .inquiry {
  font-size: 15px;
  font-weight: 400;
}

.detail-etc button .inquiry::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url(./../images/product-detail/ico-talk-gry.png);
  background-size: cover;
}

hr.division {
  height: 10px;
  width: 100%;
  border: none;
  border-top: 1px solid rgb(227, 229, 232);
  background-color: rgb(247, 247, 247);
}

/* 리뷰 */

.detail-review {
  display: flex;
  flex-direction: column;
  padding: 35px 20px 40px;
}

.review-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-total .title {
  font-size: 24px;
  font-weight: bold;
}

.review-total .review-point {
  font-size: 14px;
  margin-left: 10px;
}

.review-total .review-point::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 5px;
  background-color: rgb(233, 233, 233);
}

.review-total .review-perpect {
  color: rgb(154, 154, 158);
}

.review-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 16px 0px 0px;
  padding-right: 10px;
  font-size: 16px;
  background-color: rgb(60, 64, 75);
  color: rgb(255, 255, 255);
}

.review-button .review-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  vertical-align: middle;
  background-image: url(./../images/product-detail/review_pen.png);
  background-size: cover;
}

.review-list {
  margin-top: 40px;
}

/* 하단 버튼 */
.bottom-bar {
  position: fixed;
  bottom: 0;
  background-color: rgba(251, 46, 69, 0.95);
  width: 640px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.direct-purchase {
  color: #fff;
  font-size: 18px;
}

.add-to-cart {
  color: #fff;
  font-size: 18px;
  position: absolute;
  right: 0;
  width: 80px;
  height: 80px;
  background-image: url(./../images/product-detail/ico_cart_off.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}
