/* 배너 */
.post-slider{

}
.post-slider .post-wrapper{
  min-height: 225px;
  margin:0px auto;
}
.post-slider .post-wrapper .post{
  position: relative;
  display:inline-block;
  background:gray;
}


/* 슬라이더 이미지 내부 */
.post-slider .post-wrapper .post img{
  max-height: 225px;
}

.post-slider .post-wrapper .post  .banner-text{
  position: absolute;
  left: 40px;
  bottom: 20px;
  color: rgb(255, 255, 255);
}

.post-slider .post-wrapper .post  p.title{
  font-size: 24px;
  letter-spacing: -0.19px;
  font-weight: bold;
}
.post-slider .post-wrapper .post  p.sub-title{
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.25px;
}


.new-product-new .product-new-banner {
  /* padding: 0px; */
  /* width: auto; */
  /* height: 300px; */
  /* border:1px solid red; */
  /* display: flex;
  align-items: center;
  position: relative; */
  /* background-image: url(./../images/product_new/banner_20210906174400_mobile_kr.jpg); */
  /* min-height: 225px; */
}


/* section 공통 */
.product-new-section{
  padding: 49px 30px;
  border-top: 10px solid rgb(235, 235, 235);
}

.product-new-section .sub-title{
  font-size: 15px;
  margin-bottom: 5px;
  color: rgb(154, 154, 158);
}

.product-new-section .title{
  font-size: 28px;
  margin-bottom: 20px;
  letter-spacing: -0.29px;
  color: rgb(0, 0, 0);
}

/* 공통 상품 영역 */
.new-product-item-wrap{
  margin-top: 10px;
}

.new-product-item-wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-product-item-wrap .item-li {
  margin-bottom: 40px;
  max-width: 160px;
}

.new-product-item-wrap .item-li .thumbnail {
  position: relative;
  width: 160px;
  height: 160px;
  background-image: url(./../images/product_category/20210819161132067_8809814920946_8809814920946_AW_00.jpg);
  background-size: contain;
  margin-right: 20px;
  margin-bottom: 12px;
}

.new-product-item-wrap .item-li .thumbnail::after {
  position: absolute;
  inset: 0px;
  background: rgba(0, 0, 0, 0.02);
  content: "";
  width: 100%;
  z-index: 0;
  padding-top: 100%;
}

.new-product-item-wrap .item-li .thumbnail .soldout-label {
  width: 61px;
  height: 22px;
  position: absolute;
  top: 12px;
  left: 12px;
  background-image: url(./../images/product_category/tag-soldout.png);
  background-size: contain;
}

.new-product-item-wrap .item-li .name {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  margin: 15px 0 5px;
}

.new-product-item-wrap .item-li .name .cart {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./../images/product_category/Small_30_off.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.new-product-item-wrap .item-li .price {
  font-size: 16px;
  font-weight: bold;
}

/* 추천 신규 테마 */
/* 더보기 버튼 */
a.theme-more-view{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 340px;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  border-width: 1px;
  color: rgb(30, 30, 30);
  font-size: 15px;
  font-weight: normal;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
}

a.theme-more-view::after{
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-top: -4px;
  margin-left: 2px;
  background-size: 13px;
  background-image: url(./../images/product_new/more-black.png);
}

/* 새로 */
.new-theme-wrap{
}