/* AppleSDGothicNeo */
/* @font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 300;
  src: url(../fonts/AppleSDGothicNeoL.woff) format("woff"),
    url(../fonts/AppleSDGothicNeoL.woff2) format("woff2"),
    url(../src/fonts/AppleSDGothicNeoL.otf) format("otf");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 400;
  src: url(../fonts/AppleSDGothicNeoM.woff) format("woff"),
    url(../fonts/AppleSDGothicNeoM.woff2) format("woff2"),
    url(../fonts/AppleSDGothicNeoM.otf) format("otf");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 700;
  src: url(../fonts/AppleSDGothicNeoB.woff) format("woff"),
    url(../fonts/AppleSDGothicNeoB.woff2) format("woff2"),
    url(../fonts/AppleSDGothicNeoB.otf) format("otf");
} */
