html {
	margin: 0px;
	width: 100%;
}

body {
	margin: 0px;
	width: 100%;
}

#head {
	width: 640px;
	height: 47px;
	margin: 0px auto;
	display: flex;
	border-bottom: 1px solid rgb(227, 229, 232);
}

#head h1 {
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
}

#head div:nth-child(1) {
	width: 60px;
	height: 32px;
	margin: 8px 3px 7px 13px;
}

#head div:nth-child(2) {
	width: 214px;
	height: 24px;
	display: block;
	margin: 0px auto;
	margin-top: 11px;
}

#head div:nth-child(3) {
	width: 32px;
	height: 32px;
	margin-top: 8px;
}

#head div:nth-child(4) {
	width: 32px;
	height: 32px;
	margin: 8px 13px 7px 2px;
}

#head div img {
	cursor: pointer;
}

#head div:nth-child(1) img:nth-child(1) {
	width: 18px;
	height: 18px;
	margin: 6px 5px 7px;
}

#head div:nth-child(1) img:nth-child(2) {
	width: 18px;
	height: 18px;
	margin: 6px 5px 7px;
}

#head div:nth-child(1) img:nth-child(2) {
	width: 18px;
	height: 18px;
	margin: 6px 5px 7px;
}

#head div:nth-child(3) img {
	width: 18px;
	height: 18px;
	margin-top: 8px;
}

#head div:nth-child(4) img {
	width: 18px;
	height: 18px;
	margin-top: 8px;
	margin: 8px 13px 7px 2px;
}

.content {
	margin: 0px auto;
	width: 640px;
	padding: 20px 20px 0px;
}

.top {
	height: 41px;
	width: 600px;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 1.5;
	display: flex;
}

.img_top {
	height: 40px;
	width: 40px;
	margin-right: 8px;
	cursor: pointer;
}

.txt_top p {
	font-size: 16px;
	letter-spacing: -0.25px;
	margin: 0px;
	height: 19px;
	width: 131.703px;
	font-weight: bold;
}

.txt_top span:nth-child(1) {
	margin: 0px;
	color: rgb(47, 126, 230);
	font-weight: bold;
	font-size: 13px;
	height: 19px;
	width: 71.656px;
}

.txt_top span:nth-child(2) {
	margin: 0px;
	color: rgb(47, 126, 230);
	font-weight: bold;
	font-size: 13px;
	height: 19px;
	width: 50.047px;
	color: rgb(154, 154, 158);
}

.etc {
	height: 32px;
	width: 600px;
	margin-top: 10px;
	display: flex;
}

.etc_1 {
	width: 32px;
	height: 32px;
	cursor: pointer;
	background-image: url(/SYJ_Mall/resources/images/main/heart-burst.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.etc img {
	cursor: pointer;
	z-index: 100;
}

.etc span {
	cursor: pointer;
	z-index: 100;
}

.etc_2 {
	margin-left: 12px;
	width: 27px;
	height: 27px;
	cursor: pointer;
	margin-top: 2px;
}

.etc_3 {
	margin: 0px auto;
	margin-top: 2px;
}

.etc_4 {
	width: 27px;
	height: 27px;
	cursor: pointer;
	margin-top: 2px;
}

.txt_1 {
	height: 21px;
	width: 600px;
	margin-top: 12px;
	font-size: 14px;
	line-height: 1.5;
	color: #1e1e1e;
}

.txt_1 span {
	font-weight: bold;
}

.txt_2 {
	width: 600px;
	font-size: 20px;
	margin-top: 12px;
	letter-spacing: -0.31px;
	font-weight: bold;
	line-height: -1.2;
}

.txt_3 {
	width: 600px;
	font-size: 14px;
	letter-spacing: -0.22px;
	margin-top: 10px;
	line-height: 1.43;
}

.txt_4 {
	width: 600px;
	font-size: 14px;
	letter-spacing: -0.22px;
	color: rgb(154, 154, 158);
	margin-top: 7px;
}

.txt_5 {
	width: 600px;
	font-size: 14px;
	letter-spacing: -0.22px;
	line-height: 1.43;
	margin-top: 12px;
}

.txt_5 span:nth-child(1) {
	margin-right: 7px;
	font-weight: bold;
}

.comment {
	padding: 8px;
	border-radius: 0px 24px 24px;
	background-color: rgb(240, 241, 244);
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 600px;
	height: 44px;
	margin-top: 16px;
}

.comment img {
	width: 28px;
	height: 28px;
	cursor: pointer;
}

textarea {
	font-size: 14px;
	text-rendering: auto;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	column-count: initial !important;
	font: 400 13.3333px Arial;
	flex-direction: column;
	width: 100%;
	max-height: 60px;
	border: none;
	background: none;
	outline: none;
	resize: none;
	overflow: hidden;
}

.etc_selected {
	background-color: rgb(0, 0, 0);
	margin: 0px 2.5px;
	width: 12px;
	height: 5px;
	border-radius: 2.5px;
	border: 1px solid black;
	display: inline-block;
}

.etc_unselected {
	background-color: rgb(224, 224, 224);
	margin: 0px 2.5px;
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	display: inline-block;
}

.swiper-container {
	height: 440px;
	width: 600px;
}

.swiper-slide {
	text-align: center;
	display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items: top; /* 위아래 기준 중앙정렬 */
	justify-content: center; /* 좌우 기준 중앙정렬 */
}

.swiper-slide img {
	width: 600px;
	height: 400px;
}

.swiper-pagination-bullet {
	background-color: rgb(224, 224, 224);
	margin: 0px 2.5px;
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	border: 1px solid black;
	display: inline-block;
}

.swiper-pagination-bullet-active {
	background-color: rgb(0, 0, 0);
	margin: 0px 2.5px;
	width: 12px;
	height: 5px;
	border-radius: 2.5px;
	border: 1px solid black;
	display: inline-block;
}

.swiper-button-prev {
	display: inline-block;
	background-image:
		url(/SYJ_Mall/resources/images/main/arrow-medium-circle-right-white.png);
	background-size: 27px 27px;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.swiper-button-next {
	display: inline-block;
	background-image:
		url(/SYJ_Mall/resources/images/main/arrow-medium-circle-right-white.png);
	background-size: 27px 27px;
	background-position: center;
	background-repeat: no-repeat;
}

.swiper-button-disabled {
	display: none;
}

.part {
	position: relative;
	top: -45px;
	left: 0;
}

#modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

#modal_content {
	width: 310px;
	height: 357px;
	display: flex;
	flex-direction: column;
}

.modal-con {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	z-index: 1000;
	border-radius: 15px;
}

body.s_no-scroll {
	overflow-y: hidden;
}

#close {
	padding-right: 15px;
	padding-top: 15px;
}

#close img {
	float: right;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#chracter {
	text-align: center;
}

#chracter img {
	width: 128px;
	height: 128px;
}

#modal_txt1 {
	text-align: center;
	font-size: 18px;
	margin-top: 6px;
	margin-bottom: 6px;
	font-weight: bold;
}

#modal_txt2 {
	text-align: center;
	font-size: 16px;
	letter-spacing: -0.25px;
	font-weight: normal;
	font-stretch: normal;
}

#modal_login {
	border-radius: 35px;
	background-color: rgb(255, 235, 0);
	outline: none;
	text-align: center;
	width: 220px;
	height: 48px;
	margin: 0px auto;
	margin-top: 20px;
	display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items: center; /* 위아래 기준 중앙정렬 */
	justify-content: center;
	cursor: pointer;
}

#modal_login img {
	width: 20px;
	height: 20px;
}

#modal_login p {
	font-size: 15px;
	margin-left: 5px;
	font-weight: bold;
	margin-bottom: 0px;
}

#modal_content2 {
	width: 310px;
	height: 184px;
	text-align: center;
}

#modal_content2 p {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: -0.25px;
	color: rgb(0, 0, 0);
	text-align: center;
	margin-top: 20px;
	padding-left: 37px;
}

#modal_icon {
	width: 240px;
	height: 128px;
	margin-left: 35px;
}

#modal_icon img {
	width: 60px;
	height: 60px;
	margin: 7px;
	margin-top: 15px;
}

#sticky {
	position: sticky;
	top: 0px;
	left: 0px;
	z-index: 500;
	background-color: white;
}

#feed {
	border-top: 1px solid rgb(227, 229, 232);
	padding: 20px;
	margin: 0px auto;;
	width: 640px;
	position: relative;
}

.feed_spn_1 {
	font-size: 14px;
	font-weight: bold;
}

.feed_spn_2 {
	margin-left: 5px;
}

.feed_spn_2 img {
	width: 18px;
	height: 18px;
}

.feed_content {
	margin-top: 10px;
	width: 600px;
	display: felx;
	height: auto;
}

.feed_content2 {
	margin-left: 50px;
	margin-top: 0px;
	padding-top: 8px;
}

.feed_id {
	font-size: 14px;
	font-weight: bold;
	/* clear: both; */
}

/* feed textarea */
.feed_content_div2 {
	padding: 15px;
	border-radius: 0px 24px 24px;
	background-color: rgb(240, 241, 244);
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	display: inline-block;
}

/* .feed_content div:nth-child(3) {
	font-size: 13px;
	font-weight: normal;
	color: rgb(154, 154, 158);
	max-height: 80px;
} */
.feed_content div:nth-child(3) span {
	margin-right: 7px;
	cursor: pointer;
}

.feed_content div:nth-child(3) span:nth-child(2) span:nth-child(1) {
	margin-right: 0px;
}

.feed_img {
	margin-right: 0px;
}

.feed_img img {
	width: 15px;
	height: 15px;
	margin-bottom: 4px;
}

#sel_feed {
	position: absolute;
	top: 54px;
	left: 20px;
	padding: 10px;
	width: 99px;
	border-radius: 6px;
	border: 1px solid rgb(242, 242, 242);
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	z-index: 101;
	display: none;
}

.btn_feed {
	color: rgb(0, 0, 0);
	width: 100%;
	text-align: left;
	outline: none;
	border: 0 none;
	background-color: transparent;
	cursor: pointer;
	padding: 6px;
}

.btn_selected {
	font-weight: bold;
}

.feed_click {
	width: 80px;
	cursor: pointer;
	z-index: 10;
}

.feed_heart {
	cursor: pointer;
}

.feed_heart2 {
	cursor: pointer;
}

.feed_like_selected {
	font-weight: bold;
	color: rgb(255, 68, 127);
}

.delete_search {
	position: relative;
	left: -33px;
	top: -10px;
}

.spn_re_img img {
	width: 18px;
	height: 18px;
}

.comment2 {
	margin-left: 50px;
}

.swiper-button-prev:after, .swiper-button-next:after {
	display: none;
}

#re_feed_edit_img, #feed_edit_img {
	float: right;
}

#re_feed_edit_img img, #feed_edit_img img {
	width: 18px;
	height: 18px;
	cursor: pointer;
}

@media all and (max-width:812px) {
	.feed_content div:nth-child(3) {
		font-size: 13px;
		font-weight: normal;
		color: rgb(154, 154, 158);
		max-height: 120px;
	}
	.swiper-button-next {
		background-size: 42px 42px;
	}
	.swiper-button-prev {
		background-size: 42px 42px;
	}
	.feed_img img {
		width: 32px;
		height: 32px;
	}
	.delete_search {
		position: relative;
		left: -54px;
		top: -10px;
	}
	.feed_content2 {
		margin-left: 20px;
	}
	.img_top {
		height: 70px;
		width: 70px;
		margin-right: 10px;
		cursor: pointer;
	}
	.txt_top p {
		font-size: 24px;
		letter-spacing: -0.25px;
		margin: 0px;
		height: 30px;
		width: 131.703px;
		font-weight: bold;
	}
	.txt_top span:nth-child(2) {
		margin: 0px;
		color: rgb(47, 126, 230);
		font-weight: bold;
		font-size: 24px;
		height: 30px;
		width: 50.047px;
		color: rgb(154, 154, 158);
	}
	.swiper-wrapper {
		margin-top: 30px;
	}
	.txt_top span:nth-child(1) {
		margin: 0px;
		color: rgb(47, 126, 230);
		font-weight: bold;
		font-size: 24px;
		height: 30px;
		width: 71.656px;
	}
	.etc {
		height: 30px;
		width: 600px;
		margin-top: 40px;
		display: flex;
	}
	.etc_1 {
		width: 50px;
		height: 50px;
		cursor: pointer;
		background-image: url(/SYJ_Mall/resources/images/main/heart-burst.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.etc_2 {
		margin-left: 12px;
		width: 45px;
		height: 45px;
		cursor: pointer;
		margin-top: 2px;
	}
	.etc_4 {
		width: 45px;
		height: 45px;
		cursor: pointer;
		margin-top: 2px;
	}
	.txt_1 {
		height: 21px;
		width: 600px;
		margin-top: 30px;
		font-size: 24px;
		line-height: 1.5;
		color: #1e1e1e;
	}
	.txt_2 {
		width: 600px;
		font-size: 32px;
		margin-top: 26px;
		letter-spacing: -0.31px;
		font-weight: bold;
		line-height: -1.2;
	}
	.txt_3 {
		width: 600px;
		font-size: 24px;
		letter-spacing: -0.22px;
		margin-top: 10px;
		line-height: 1.43;
	}
	.txt_4 {
		width: 600px;
		font-size: 24px;
		letter-spacing: -0.22px;
		color: rgb(154, 154, 158);
		margin-top: 7px;
	}
	.txt_5 {
		width: 600px;
		font-size: 24px;
		letter-spacing: -0.22px;
		line-height: 1.43;
		margin-top: 12px;
	}
	.comment2 {
		margin-left: 20px;
		padding-bottom: 40px;
	}
	.comment {
		padding: 12px;
		border-radius: 0px 24px 24px;
		background-color: rgb(240, 241, 244);
		position: relative;
		display: flex;
		box-sizing: border-box;
		width: 600px;
		height: 65px;
		margin-top: 16px;
		cursor: pointer;
		font-size: 24px;
	}
	.comment2 textarea {
		margin-left: -38px;
	}
	textarea::placeholder {
		font-size: 24px;
	}
	.feed_spn_1 {
		font-size: 24px;
		font-weight: bold;
	}
	.feed_spn_2 img {
		width: 32px;
		height: 32px;
	}
	.feed_click {
		width: 140px;
		cursor: pointer;
		z-index: 10;
	}
	.feed_content div:nth-child(1) {
		font-size: 24px;
		font-weight: bold;
	}
	.feed_content div:nth-child(2) {
		padding: 15px;
		border-radius: 0px 24px 24px;
		background-color: rgb(240, 241, 244);
		margin-top: 10px;
		margin-bottom: 10px;
		cursor: pointer;
		display: inline-block;
		font-size: 24px;
	}
	.comment img {
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	.feed_content div:nth-child(3) span {
		margin-right: 12px;
		cursor: pointer;
		font-size: 24px;
	}
	#sel_feed {
		position: absolute;
		top: 54px;
		left: 20px;
		padding: 10px;
		width: 180px;
		border-radius: 6px;
		border: 1px solid rgb(242, 242, 242);
		background-color: rgb(255, 255, 255);
		box-sizing: border-box;
		z-index: 101;
		display: none;
		font-size: 24px;
	}
}

.feed_content_div3 {
	font-size: 13px;
	font-weight: normal;
	color: rgb(154, 154, 158);
	max-height: 80px;
}

#feed_edit_delete {
	display: none;
	border-radius: 6px;
	border: 1px solid rgb(242, 242, 242);
	background-color: rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
	padding: 10px;
	clear: both;
}

#feed_edti_img_div {
	float: right;
}

#btn_re_feed {
	cursor: pointer;
}

#feed_edit_delete span {
	padding: 10px;
	cursor: pointer;
}

#commet_id {
	display: none;
}

#btn_edit_delete {
   display:none; 
	float: right;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

#btn_edit_delete span:nth-child(1) {
	padding: 8px;
	border: 1px solid rgb(227, 229, 232);
}

#btn_edit_delete span:nth-child(2) {
	padding: 8px;
	border: 1px solid rgb(227, 229, 232);
}


img#feed_edit_btn {
    position: relative;
    top: -40px;
    left: 555px;
}
