@charset "UTF-8";

 /* 전체적인 바디 */
		body {
            border : 1px solid red;
            height : 3000px;
            margin: 0px auto;
            width: 375px;
            background-color : #FFFFFF;
        }
