<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<select id="noticelist"
		resultType="com.test.SYJ_Mall.board.PagingDTO">
		select * from (
		SELECT ROW_NUMBER() OVER(ORDER BY (SELECT 1)) AS rownum,
		seq, title,
		content, reg_id, CONVERT(CHAR(23),reg_dt,23) as reg_dt
		FROM dbo.NOTICE with(nolock)
		) A where rownum between #{start} and #{end}
	</select>
	<select id="listbtn"
		resultType="com.test.SYJ_Mall.board.BoardDTO" parameterType="Integer">
		SELECT
		seq, title,
		content, reg_id, CONVERT(CHAR(23),
		reg_dt, 23) as
		reg_dt
		FROM
		dbo.NOTICE with(nolock) WHERE seq = #{seq}
	</select>
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM
		dbo.NOTICE with(nolock)
	</select>

</mapper>