<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis를 통해 db연동 -->
<mapper namespace="CommonDB">
	
	
	<!-- 상품 알람 관련 -->
	<select id="prodtAlarmChecking" resultType="Integer" parameterType="java.util.HashMap" statementType="CALLABLE" >
		
		declare @result int
		exec @result = dbo.kakao_common_product_alaram #{userSeq},#{productId}
		select @result
		
	</select>
	
	<!-- 상품 장바구니 관련 -->
	<select id="prodtBasketChecking" resultType="Integer" parameterType="java.util.HashMap" statementType="CALLABLE" >
		
		declare @result int
		exec @result = dbo.kakao_common_product_basket #{userSeq},#{prodtId}
		select @result 
		
	</select>
	
	<!-- 리뷰에 대한 좋아요 관련 -->
	<select id="reviewLikeCheck" resultType="Integer" parameterType="java.util.HashMap" statementType="CALLABLE" >
		
		declare @result int
		exec @result = dbo.kakao_review_like_info_checking #{userSeq},#{orderSeq},#{prodtId}
		select @result
		
	</select>

</mapper>