<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="detail">

	<select id="list"
		resultType="com.test.SYJ_Mall.detail.DetailDTO" parameterType="int">
	select top(1) * from dbo.KAKAO_PRODUCT_TABLE with(nolock) where char_seq = #{d_seq}
	</select>
	<select id="header"
		resultType="string" parameterType="int">
	select product_img from dbo.KAKAO_PRODUCT_IMG with(nolock) where product_id = #{d_seq}
	</select>


</mapper>