<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main">

	<select id="list" resultType="com.test.SYJ_Mall.main.MainDTO"
		parameterType="java.util.HashMap">
		SELECT
		seq, reg_id,
		reg_dt, gubn,
		title, contents
		FROM
		dbo.main_list with(nolock) where (seq BETWEEN #{num1} AND #{num2})
		order by seq
		desc
	</select>
	<select id="img" resultType="string" parameterType="int">
		select img_nm
		from main_img with(nolock) where list_seq = #{seq}
	</select>
	<select id="heart" resultType="int" parameterType="int">
		select
		count(*) from main_heart with (nolock) where list_seq = #{num}
	</select>
	<select id="heart_select" resultType="int"
		parameterType="java.util.HashMap">
		select count(*) from dbo.main_heart with(nolock) where
		list_seq =
		#{list_seq} and member_seq= #{session_seq}
	</select>
	<insert id="heart_insert" parameterType="java.util.HashMap">
		insert into
		dbo.main_heart values(#{list_seq},#{member_seq})
	</insert>
	<delete id="heart_delete" parameterType="java.util.HashMap">
		delete dbo.main_heart
		where list_seq = #{list_seq} and member_seq = #{member_seq}
	</delete>
	<insert id="feed_insert" parameterType="java.util.HashMap">
		insert into
		dbo.feed(member_seq,list_seq,feed,reg_id)values(#{member_seq},#{list_seq},#{feed},#{name})
	</insert>
	<select id="feed_select"
		resultType="com.test.SYJ_Mall.main.FeedDTO"
		parameterType="java.util.HashMap">
		select * from dbo.feed a LEFT JOIN feed_heart b on a.seq = b.feed_seq
		where list_seq = #{list_seq} order by
		<choose>
			<when test="sel == '최신순'">reg_dt desc</when>
			<when test="sel == '과거순'">reg_dt asc</when>
			<otherwise>feed_seq desc</otherwise>
		</choose>
	</select>
	<select id="feed_heart" resultType="int" parameterType="int">
		select
		count(*) from dbo.feed_heart with (nolock) where feed_seq =
		#{feed_seq}
	</select>
	<insert id="feed_heart_insert" parameterType="java.util.HashMap">
		insert into
		dbo.feed_heart values(#{feed_seq},#{member_seq})
	</insert>
	<delete id="feed_heart_delete" parameterType="java.util.HashMap">
		delete
		dbo.feed_heart
		where feed_seq = #{feed_seq} and member_seq =
		#{member_seq}
	</delete>
	<insert id="re_feed_insert" parameterType="java.util.HashMap">
		insert into
		dbo.re_feed(member_seq,feed_seq,re_feed,reg_id)values(#{member_seq},#{re_feed_seq},#{text},#{name})
	</insert>
	<select id="re_feed_select"
		resultType="com.test.SYJ_Mall.main.FeedDTO"
		parameterType="java.util.HashMap">
		select * from dbo.re_feed where feed_seq = #{feed_seq}
		order by seq desc
	</select>
	<insert id="re_feed_heart_insert"
		parameterType="java.util.HashMap">
		insert into
		dbo.re_feed_heart
		values(#{feed_seq},#{member_seq})
	</insert>
	<delete id="re_feed_heart_delete"
		parameterType="java.util.HashMap">
		delete
		dbo.re_feed_heart
		where feed_seq = #{feed_seq} and
		member_seq =
		#{member_seq}
	</delete>
	<select id="re_feed_heart" resultType="int" parameterType="int">
		select
		count(*) from dbo.re_feed_heart with (nolock) where feed_seq =
		#{feed_seq}
	</select>
	<select id="main_feed" resultType="java.util.HashMap"
		parameterType="int">
		select top(1) * from dbo.feed a with(nolock) LEFT JOIN
		feed_heart b on a.seq = b.feed_seq where list_seq = #{seq} order by
		reg_dt desc
	</select>
	<select id="main_feed_count" resultType="int"
		parameterType="int">
		select
		count(*) from dbo.feed with (nolock) where
		list_seq = #{seq}
	</select>
	<update id="feed_edit" parameterType="java.util.HashMap">
		update feed set feed =
		#{feed} where seq = #{seq}
	</update>
	<delete id="feed_delete" parameterType="int">
		delete
		dbo.feed
		where seq =
		#{feed_seq}
	</delete>
	<delete id="re_feed_delete" parameterType="int">
		delete
		dbo.re_feed
		where seq =
		#{seq}
	</delete>
	<update id="re_feed_update" parameterType="java.util.HashMap">
		update re_feed set re_feed =
		#{re_feed} where seq = #{seq}
	</update>
</mapper>