<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main">

	<select id="list" resultType="com.test.SYJ_Mall.main.MainDTO" parameterType="int">
	SELECT top(#{num})
	seq, reg_id,
	reg_dt, gubn,
	title, contents
	FROM
	dbo.main_list with(nolock) order by seq desc
	</select>
	<select id="img" resultType="string" parameterType="int">
	select img_nm from main_img with(nolock) where list_seq = #{seq}
	</select>
</mapper>