<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="newProducts">

	<!-- 신규 상단 배너 정보 불러오기 로그인 안된 상태-->
	<select id="newProductRecommendTheme"
		parameterType="java.util.HashMap"
		resultType="com.test.SYJ_Mall.newProduct.RecommendThemeDTO"
		statementType="CALLABLE">
		{
		call dbo.kakao_recommend_new_theme_no_login(#{basketList},#{themeNum})
		}
	</select>
	
	
	<!-- 신규 상단 배너 정보 불러오기  로그인 된 상태-->
	<select id="newProductRecommendThemeLogin"
		parameterType="java.util.HashMap"
		resultType="com.test.SYJ_Mall.newProduct.RecommendThemeDTO"
		statementType="CALLABLE">
		{
		call dbo.kakao_recommend_new_theme_login(#{userSeq},#{themeNum})
		}
	</select>
	
	
	<!-- 신규 최상단 배너 물품정보 불러오기-->
	<select id="newProductRecommendTop"
		resultType="com.test.SYJ_Mall.newProduct.RecommendTopProdDTO"
		statementType="CALLABLE">
		{
		call dbo.kakao_recommend_top_banner_list
		}
	</select>
	
	
	<!-- 새로나온 친구들 물품 갯수-->
	<select id="newFriendsProductCount"
		resultType="Integer">
		select count(*) from dbo.KAKAO_PRODUCT_TABLE with(nolock)
	</select>
	
	
	<!-- 새로나온 친구들 물품 불러오기-->
	<select id="newFriendsProductNotLogin"
		resultType="com.test.SYJ_Mall.newProduct.NewFriendsProdDTO"
		statementType="CALLABLE">
		{
		call dbo.kakao_new_product_not_login(#{basketList},#{paging})
		}
	</select>
	
	<!-- 새로나온 친구들 물품 불러오기-->
	<select id="newFriendsProduct"
		resultType="com.test.SYJ_Mall.newProduct.NewFriendsProdDTO"
		statementType="CALLABLE">
		{
		call dbo.kakao_new_product(#{userSeq},#{paging})
		}
	</select>


</mapper>