<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis를 통해 db연동 -->
<mapper namespace="ProductDetails">
	
	
	<!-- 해당상품 헤드 이미지 불러오기 -->
	<select id="productHeadImages" resultType="String" parameterType="Integer" statementType="CALLABLE" >
		{
			call dbo.kakao_product_detail_head_images(#{prodtSeq})
		}
	</select>

	
	<!-- 해당상품 상세내역 불러오기(비로그인 상태) -->
	<select id="productDetailsInfo" resultType="com.test.SYJ_Mall.productDetail.ProductDetailDTO" parameterType="Integer" statementType="CALLABLE" >
		{
			call dbo.kakao_product_detail_infos_not_login(#{prodtSeq})
		}
	</select>
	
	<!-- 해당상품 상세내역 불러오기(로그인 상태) -->
	<select id="productDetailsInfoLogin" resultType="com.test.SYJ_Mall.productDetail.ProductDetailDTO" parameterType="java.util.HashMap" statementType="CALLABLE" >
		{
			call dbo.kakao_product_detail_infos_login(#{userSeq},#{prodtSeq})
		}
	</select>
	
	<!-- 이 상품은 어때요 상품정보 대분류 번호 가져와 줄것-->
	<select id="productHowInfoCategory" resultType="Integer" statementType="CALLABLE" >

		{
			call dbo.kakao_product_detail_main_category_info 
		}

	</select>
	
	<!-- 이 상품은 어때요 (비로그인 상태) -->
	<select id="productHowInfo" resultType="com.test.SYJ_Mall.productDetail.ProductHowDTO" parameterType="java.util.HashMap" statementType="CALLABLE" >
		{
			call dbo.kakao_product_detail_plus_prodt_not_login(#{basketInfo},#{prodtSeq},#{filterSeq},#{selectCategory})
		}
	</select>
	
	<!-- 이 상품은 어때요 (로그인 상태) -->
	<select id="productHowInfoLogon" resultType="com.test.SYJ_Mall.productDetail.ProductHowDTO" parameterType="java.util.HashMap" statementType="CALLABLE" >
		{
			call dbo.kakao_product_detail_plus_prodt_login(#{basketInfo},#{prodtSeq},#{filterSeq},#{selectCategory})
		}
	</select>
	
	<!-- 해당상품에 관한 리뷰 총 개수 -->
	<select id="productReviewTotalCount" resultType="Integer" parameterType="java.util.HashMap" statementType="CALLABLE" >
		{
			call dbo.kakao_product_detail_review_total_count(#{prodtSeq})
		}
	</select>
	
	<!-- 상품 리뷰 관련 (비로그인 상태) -->
	<select id="productReview" resultType="com.test.SYJ_Mall.productDetail.ProductDetailReviewDTO" parameterType="java.util.HashMap" statementType="CALLABLE" >
		{
			call dbo.kakao_product_detail_review_not_login(#{prodtSeq},#{sortOption},#{paging},#{currentTime})
		}
	</select>
	
	
</mapper>