.container-wrap {
  height: 100%;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

.container-wrap .item {
  border: 1px solid #fff;
  position: relative;
  background-image: url(./../images/hot/item_test1.jpg);
  background-size: cover;
}

.container-wrap .item::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(./../images/hot/cart.png);
  background-size: cover;
  right: 7px;
  bottom: 7px;
}

/* 
.item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
} */

.item:nth-child(1) {
  /* 1번 라인에서 2칸 */
  grid-column: 1 / span 2;
  /* 1번 라인에서 3칸 */
  grid-row: 1 / span 2;
}

.item:nth-child(9) {
  /* 1번 라인에서 2칸 */
  grid-column: 2 / span 2;
  /* 1번 라인에서 3칸 */
  grid-row: 4 / span 2;
}

.item:nth-child(2) {
  background-image: url(./../images/hot/item_test2.jpg);
}

.item:nth-child(3) {
  background-image: url(./../images/hot/item_test3.jpg);
}

.item:nth-child(4) {
  background-image: url(./../images/hot/item_test4.jpg);
}

.item:nth-child(5) {
  background-image: url(./../images/hot/item_test5.jpg);
}

.item:nth-child(6) {
  background-image: url(./../images/hot/item_test6.jpg);
}

.item:nth-child(7) {
  background-image: url(./../images/hot/item_test7.jpg);
}

.item:nth-child(8) {
  background-image: url(./../images/hot/item_test8.jpg);
}

.item:nth-child(9) {
  background-image: url(./../images/hot/item_test9.jpg);
}

.item:nth-child(10) {
  background-image: url(./../images/hot/item_test10.jpg);
}

.item:nth-child(11) {
  background-image: url(./../images/hot/item_test11.jpg);
}

.item:nth-child(12) {
  background-image: url(./../images/hot/item_test12.jpg);
}
