@charset "UTF-8";

/* 모달 작업 */
.overlay-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all ease-in 0.3s;
}

/* 로그인 모달 작업 */
.login-modal-wrap {
	position: absolute;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	bottom: 50%;
	margin-bottom: -175.5px;
	width: 310px;
	/* height: 350px; */
	border-radius: 16px;
}

.login-modal-wrap .modal-close {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.login-modal-wrap .modal-close .close-btn {
	width: 24px;
	height: 24px;
	background: url(/SYJ_Mall/resources/images/login_modal/close-24.png)
		no-repeat;
	background-size: contain;
	margin-right: 15px;
	margin-top: 15px;
	cursor: pointer;
}

.login-modal-wrap .login-img {
	margin-bottom: 6px;
	width: 128px;
	height: 128px;
}

.login-modal-wrap .login-text {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.login-modal-wrap .login-text p {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	padding: 0px 10px 20px;
}

.login-modal-wrap .login-btn {
	margin-bottom: 40px;
}

.login-modal-wrap .login-btn button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	min-height: 48px;
	border-radius: 35px;
	text-align: center;
	background-color: rgb(255, 235, 0);
}

.login-modal-wrap .login-btn button .login-kakao {
	display: inline-block;
	width: 20px;
	height: 20px;
	background:
		url(/SYJ_Mall/resources/images/login_modal/kakaotalk-tiny-brown.png)
		no-repeat;
	background-size: contain;
}

.login-modal-wrap .login-btn button p {
	font-weight: bold;
	font-size: 15px;
	letter-spacing: -0.25px;
	margin-left: 5px;
}

/* 배너 */
/* 배너 신규 CSS  */
.new-product-new .swiper {
  min-height: 225px;
  position: relative;
  cursor: pointer;
}

.new-product-new .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.new-product-new .swiper-slide img {
  max-height: 225px;
  position: relative;
}

/* 배너 이미지 텍스트 */
.new-product-new .swiper-slide .banner-text {
  position: absolute;
  left: 40px;
  bottom: 20px;
  color: rgb(255, 255, 255);
  text-align: left;
}

.new-product-new .swiper-slide .banner-text p.title {
  font-size: 24px;
  letter-spacing: -0.19px;
  font-weight: bold;
}
.new-product-new .swiper-slide .banner-text p.sub-title {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.25px;
}

.new-product-new .swiper-pagination {
  color: #fff;
  width: 95% !important;
  text-align: right !important;
  height: 30px;
}

.new-product-new .swiper-button-next img,
.new-product-new .swiper-button-prev img {
  width: 15px;
  height: 25px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}


/* section 공통 */
.product-new-section {
	padding: 49px 20px;
	border-top: 10px solid rgb(235, 235, 235);
}

.product-new-section .sub-title {
	font-size: 15px;
	margin-bottom: 5px;
	color: rgb(154, 154, 158);
}

.product-new-section .title {
	font-size: 28px;
	margin-bottom: 20px;
	letter-spacing: -0.29px;
	color: rgb(0, 0, 0);
}

/* 공통 상품 영역 */
.new-product-item-wrap {
	margin-top: 10px;
}

.new-product-item-wrap ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.new-product-item-wrap .item-li {
	/* margin-bottom: 40px; */
	max-width: 160px;
	min-height: 280px;
	max-height: 280px;
}

.new-product-item-wrap .item-li:hover {
	cursor: pointer;
}

.new-product-item-wrap .item-li .thumbnail {
	position: relative;
	width: 160px;
	height: 160px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 20px;
	margin-bottom: 12px;
}

.new-product-item-wrap .item-li .thumbnail::after {
	position: absolute;
	inset: 0px;
	background: rgba(0, 0, 0, 0.02);
	content: "";
	width: 100%;
	z-index: 0;
	padding-top: 100%;
}

.new-product-item-wrap .item-li .thumbnail .soldout-label {
	width: 61px;
	height: 22px;
	position: absolute;
	top: 12px;
	left: 12px;
	background-image:
		url(/SYJ_Mall/resources/images/product_category/tag-soldout.png);
	background-size: contain;
}

.new-product-item-wrap .item-li .name {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	color: #777777;
	font-weight: 400;
	margin: 15px 0 5px;
}

.new-product-item-wrap .item-li .name .nametext {
	display: -webkit-box;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.new-product-item-wrap .item-li .name .cart {
	flex-shrink: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image:
		url(/SYJ_Mall/resources/images/product_category/Small_30_off.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.new-product-item-wrap .item-li .name .incart {
	flex-shrink: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image:
		url(/SYJ_Mall/resources/images/product_category/Small_30_on.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.new-product-item-wrap .item-li .name .inalarm {
	flex-shrink: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image:
		url(/SYJ_Mall/resources/images/product_category/ico-notification-solid-24.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.new-product-item-wrap .item-li .name .alarm {
	flex-shrink: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image:
		url(/SYJ_Mall/resources/images/product_category/ico-notification-empty-24.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.new-product-item-wrap .item-li .price {
	font-size: 16px;
	font-weight: bold;
}

/* 추천 신규 테마 */
/* 더보기 버튼 */
a.theme-more-view {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 340px;
	height: 50px;
	line-height: 50px;
	border-radius: 4px;
	border-width: 1px;
	color: rgb(30, 30, 30);
	font-size: 15px;
	font-weight: normal;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(230, 230, 230);
	box-sizing: border-box;
}

a.theme-more-view::after {
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-top: -4px;
	margin-left: 2px;
	background-size: 13px;
}

/* 새로 */
.new-theme-wrap {
	
}