@charset "UTF-8";


        /* 로그인 이미지 */
        #qoo10login {
            /* border : 1px solid red; */
            margin: 0px auto;
            margin-top: 40px;
            height: 100px;
            width: 200px;
        }
        #qoo10login img {
            width:100%;
            height : 100%;
        }
        /* 전체적인 바디 */
        body {
            /* border : 1px solid red; */
            height : 1300px;
            background-color : #F5F6F7;
        }

        #copyright {
            /* border : 1px solid blue; */
            width : 310px;
            margin: 20px auto;
            font-size: 0.9em;
            text-align: center;
        }

        #inputid:focus {
            outline: none;
        }
        
        #inputpw:focus {
            outline:none;
        }

        /* 회원가입 정보 입력하는 란 */
        .input_box {
            /* border: 1px solid red; */
            margin: 10px auto;
            width: 350px;
            height: 80px;
        }

        /* 정보입력창 감싸는 영역 */
        .info_write {
            border: 1px solid #DADADA;
            background-color: #FFFFFF;
            height: 45px;
            margin-bottom: 4px;
        }

        /* 진짜 정보를 입력하는 창 */
        .inputs_info {
            border: 0px solid;
            margin: 8px 10px;
            width: 325px;
            height: 28px;
            outline: none;
        }

        /* 정보입력 메인글씨 -> 아이디, 비밀번호 와 같이 상태를 표현해주는 정보를 나타내는곳*/
        .info_name {
            font-family: 'NEXON Lv1 Gothic OTF';
            font-weight: bolder;
        }


        /* --가입하기 버튼-- */
        #submit_button {
            /* border : 1px solid red; */
            margin: 0px auto;
            width: 350px;
            height: 45px;
        }

        #submit_info {
            border: 0px;
            width: 350px;
            height: 45px;
            margin: 0px auto;           
            font-family: 'NEXON Lv1 Gothic OTF';
            font-size: 1em; 
            background-color: #FEE500; 
            color:black; 
        }
        /* --가입하기 버튼-- */


        /* selected 형식모두 디자인 정해주는 클래스 */
        .selected_info {
            /* border: 1px solid blue; */
            outline:none;
            border-style: none;
            border: 1px solid #DADADA;
            background-color: #FFFFFF;
            padding-left: 7px;
            height: 45px;
            width: 350px;
            margin-bottom:4px;
        }

        /* --생년월일 입력-- */
        .birth {
            border: 1px solid #DADADA;
            /* border: 1px solid red; */
            background-color: #FFFFFF;
            float: left;
            margin: 3px 5px;
            width: 110px;
            height: 40px;
            outline: none;
            margin-bottom: 4px;
        }

        .selected_info_birth {
            border-style: none;
            outline:none;
            /* border: 1px solid red; */
            background-color: #FFFFFF;
            margin : 4px auto;
            padding-left: 7px;
            height: 30px;
            width: 108px;
        }
        /* --생년월일 입력-- */
        

        /* --이메일 입력-- */
        .email{
            border: 1px solid #DADADA;
            /* border:1px solid red; */
            background-color: #FFFFFF;
            float: left;
            margin: 3px 0px;
            margin-left: 5px;
            width: 114px;
            height: 40px;
            outline: none;
            margin-bottom:4px;
        }

        #email_gol {
            /* border: 1px solid green; */
            height: 40px;
            width: 22px;
            float: left;
            padding-top : 6px;
            padding-left: 5px;
            margin: 3px 0px;
        }


        .selected_info_email {
            border-style: none;
            outline:none;
            background-color: #FFFFFF;
            margin : 4px;
            height: 30px;
            width: 80px;
        }

        #email_selected_site {
            /* border: 1px solid red; */
            width: 90px;
        }



        /* --이메일 입력-- */


         /* 진짜 정보를 입력하는 창 -> 작은창 버전 */
        .inputs_info_small {
            /* border: 1px solid red; */
            border-style: none;
            outline:none;
            margin-left: 8px;
            margin-top:4px;
            width: 93px;
            height: 28px;
            outline: none;
        }

        /* 유효성 검증 */
        .error_next_box {
            /* border:1px solid red; */
            margin:0px auto;
            width:400px;
            font-size: 0.9em;
            color : red;

        }


