@charset "UTF-8";

 		/* 전체적인 바디 */
        body {
            border : 1px solid #F6F6F6;
            height : 873px;
            margin: 0px auto;
            width: 494px;
            background-color : #FFFFFF;
        }


        /* 카카오프렌즈 이미지 */
        #kakaopic {
            /* border : 1px solid red; */
            margin: 0px auto;
            margin-top: 40px;
            height: 50px;
            width: 100px;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* 타이틀 */
        #findtitle {
            /* border : 1px solid red; */
            width: 420px;
            height : 100px;
            margin: 0px auto;
            padding-top: 30px;
            font-size : 1.6em;
            font-weight: bold;
            font-family: 'NEXON Lv1 Gothic OTF';
        }

        /* 세부항목  설명*/
        #detailtitle {
            /* border : 1px solid red; */
            color : #7C7C7C;
            font-family: 'NEXON Lv1 Gothic OTF';
            width: 420px;
            height : 60px;
            padding-top: 10px;
            font-size : 1.1em;
            margin: 0px auto;
        }

        /* 입력하는곳 제목 */
        .inputtitles {
            /* border : 1px solid red; */
            width:420px;
            margin: 4px auto;
            margin-top:10px;
            font-family: 'NEXON Lv1 Gothic OTF';
            font-size : 0.9em;
            font-weight: bold;
        }

        /* 정보 입력하는 곳 */
        .inputbox {
            /* border : 1px solid red; */
            border-bottom: 1.5px solid #7C7C7C;
            width:420px;
            height: 34px; 
            margin: 12px auto;
            margin-bottom: 5px;
        }

        /* 정보 입력하는 곳 - 등록한 이메일 */
        #registeredEmail {
            border: 0px;
            width:420px;
            height: 30px;
            background-color : #FFFFFF;
            font-size : 1.1em;
            font-family: 'NEXON Lv1 Gothic OTF';
        }  

        .inputbox input:focus {
            outline: none;
        }
        
        /* 전화번호 아래 정보기입칸들 */
        .phoneinnertext { 
            float: left;
        }
        /* 진짜로 전화번호 입력해주는 창 */
        #registeredPhone {
            border: 0px solid red;
            width:350px;
            height: 30px;
            background-color : #FFFFFF;
            font-size : 1.1em;
            font-family: 'NEXON Lv1 Gothic OTF';           
        }
        
        /* 현재 몇개의 전화번호개수가 입력되고 있는지 보여주는 창 */
        #phnummaxlen {
            /* border: 1px solid red; */
            height: 32px;
            width: 70px;
            padding-left: 6px;
            padding-top: 4px;
        }

        /* 전화번호 라인규칙 */
        #phonelength {
            /* border : 1px solid red; */
            font-family: 'NEXON Lv1 Gothic OTF';
            font-size : 1.1em;
            color: #8E8E8E;
        }

        /* 카카오 계정 찾기 버튼 */
        #submit_button {
            /* border : 1px solid red; */
            margin: 0px auto;
            width: 350px;
            height: 45px;
            margin-top:50px;    
        }

        #submit_info {
            border: 0px;
            width: 350px;
            height: 45px;
            margin: 0px auto;
            background-color: #F6F6F6;
            font-family: 'NEXON Lv1 Gothic OTF';
            color: black;
            border-radius: 5px;
        }

        #submit_info:focus {
            outline: none;
        }

        /* 바닥라인 */
        #bottomline {
            border : 1.2px solid #F6F6F6;
            margin-top: 240px;
        }

        /* 저작권 */
        #copyright {
            /* border : 1px solid blue; */
            width : 310px;
            margin: 20px auto;
            font-size: 0.9em;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        /* 에러메시지 */
        .errmsgs {
            color: red;
            font-family: 'NEXON Lv1 Gothic OTF';
            width:420px;
            height: 20px;
            margin: 0px auto; 
        }
        
        /* 모달창 */
        #myModal > .modal-dialog {
            width: 420px;
            height : 200px;
            margin-top: 300px;
        }
        #myModal > .modal-dialog > .modal-content {
            height : 200px;
        }
        #modalcontent {
            margin-top: 40px;
            font-family: 'NEXON Lv1 Gothic OTF';
            color : #7C7C7C;
            text-align: center;
        }
        #mfooter {
            border: 0px; 
            padding: 0px;
            text-align:center
        }
        #mfooter_check {
            border:0px;
            width: 350px;
            height: 45px;
            background-color: #FEE500;
            font-family: 'NEXON Lv1 Gothic OTF';
            color: black;
            border-radius: 5px;
            outline: none;
        }
        #mfooter_check:hover{
            background-color: #F0D700;
        }
        