@charset "UTF-8";

 /* 전체적인 바디 */
        body {
            /* border : 1px solid red; */
            border : 1px solid #F6F6F6;
            height : 670px;
            margin: 0px auto;
            width: 370px;
            background-color : #FFFFFF;
        }

        /* 카카오프렌즈 이미지 */
        #kakaopic {
            /* border : 1px solid red; */
            margin: 0px auto;
            margin-top: 20px;
            height: 50px;
            width: 100px;
            background-position: center;
            background-repeat: no-repeat;
        }
        #kakaopic:hover {
       		cursor:pointer; 	
        }

        /* 메인프레임 */
        .mainframe {
            /* border : 1px solid red; */
            width: 350px;
            margin: 0px auto;
        }
		
		/*서브 메인프레임 */
		 .sub_mainframe {
            width: 170px;
            margin: 0px auto;
            border: 0px;
            height: 45px;
            background-color: #FEE500;
            color: black;
            border-radius: 5px;
            font-weight: bold;
        }
        
        .sub_mainframe:focus {
        	outline : none;
        }
		
        /* 타이틀 */
        #findtitle {
            height : 100px;
            padding-top: 30px;
            font-size : 1.6em;
            font-weight: bold;
        }

        /* 세부항목  설명*/
        #detailtitle {
            /* border : 1px solid red; */
            color : #7C7C7C;
            height : 110px;
            padding-top: 10px;
            font-size : 1.1em;
            font-weight: bold;
        }

        /* 로그인 허용 관련 버튼 */
        #submit_button {
            height: 45px;
            margin-top:50px; 
        }

        

        /* 바닥라인 */
        #bottomline {
            border : 1.2px solid #F6F6F6;
            margin-top: 160px;
        }

        /* 저작권 */
        #copyright {
            /* border : 1px solid blue; */
            width : 310px;
            margin: 20px auto;
            font-size: 0.9em;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        /*기입할 내용 제목*/
        .inputtitles {
            /* border : 1px solid red; */
            width:350px;
            margin: 4px auto;
            margin-top:10px;
            font-size : 1.3em;
            font-weight: bold;
        }

        /* 정보 입력하는 곳 */
        .inputbox {
            /*  border-bottom: 1.5px solid #7C7C7C;*/
            width:350px;
            height: 34px; 
            margin: 12px auto;
            margin-bottom: 5px;
            font-size : 1.2em;
            font-weight: bold;
        }
        .inputboxcontent {
            border: 0px;
            width:350px;
            height: 30px;
            background-color : #FFFFFF;
            font-size : 1.1em;
            outline: none;
        } 
        
        /* 간격 */
        .between {
            width:350px;
            height: 20px;
            margin: 0px auto; 
        }