@charset "UTF-8";

        /* 전체적인 바디 */
        body {
            /* border : 1px solid red; */
            height : 600px;
            background-color : #F5F6F7;
        }

        /* 카카오프렌즈 이미지 */
        #kakaopic {
            /* border : 1px solid red; */
            margin: 0px auto;
            margin-top: 40px;
            height: 100px;
            width: 200px;
            background-position: center;
            background-repeat: no-repeat;
        }
        #kakaopic:hover {
        	cursor:pointer;
        }

        /* 축하글 */
        #congwriter {
            /* border: 1px solid red; */
            width: 440px;
            height : 100px;
            margin: 0px auto;
            padding-top: 30px;
            font-size : 2em;
            font-family: 'NEXON Lv1 Gothic OTF';
            text-align: center;
        }


        /* 축하이미지 */
        #usercongimg {
            /* border: 1px solid red; */
            width: 400px;
            height : 200px;
            background-position: center;
            background-size: 50%;
            background-repeat: no-repeat;
            margin: 0px auto
        }

        /* 로그인 버튼 */
        #loginbutton {
            /* border: 1px solid red; */
            width: 352px;
            margin: 30px auto;
        }
        
        #gologin {
            border: 0px;
            width: 350px;
            height: 45px;
            margin: 0px auto;
            background-color: #FEE500;
            font-family: 'NEXON Lv1 Gothic OTF';
            color: black; 
        }	